Cs/Unity/Library/
Cs/Unity/Temp/
.vs
*.vcxproj.user
bin
obj
*.pdb
Cs/Unity/Unity.sln
Cs/Unity/*.csproj
Cpp/Windows/x64/
project.xcworkspace
xcschememanagement.plist
xcuserdata
output.tga
Unity/*.csproj
Unity/*.sln
Unity/Library/
Unity/Temp/
TestKernels.h
Shots/
