Cs/Unity/Library/
Cs/Unity/Temp/
.DS_Store
.vs
.idea
bin
obj
*.exe
*.pdb
*.vcxproj.user
*.csproj.user
Cpp/Windows/x64/
project.xcworkspace
xcschememanagement.plist
xcuserdata
output*.tga
Unity/*.csproj
Unity/*.sln
Unity/Library/
Unity/Temp/
Unity/Builds
Unity/Logs
Unity/UserSettings
Unity/Assets/Plugins*
Cpp/Windows/Compiled*Shader.h
Cpp/Emscripten/toypathtracer.js
Cpp/Emscripten/toypathtracer.wasm
